In [138]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the weather dataset
df = pd.read_csv("/Users/sa3/Desktop/TLAB3/csv/weather_data.csv")

# Drop null values
df.dropna(inplace=True)

# Convert time column to datetime format
df["time"] = pd.to_datetime(df["time"])

# Set time as the index
df.set_index("time", inplace=True)

df.head()

,temperature_2m,relative_humidity_2m,precipitation,surface_pressure
time,,,,
2022-01-31,19.10,92.0,0.1,908.7
2022-02-28,19.10,92.0,0.0,909.2
2022-03-31,19.80,84.0,0.0,910.1
2022-04-30,18.45,83.0,0.0,911.4
2022-05-31,14.80,79.0,0.0,912.3

In [139]:
#Calculated Monthly Medians
monthly_medians = df.resample("M").median()
print("Monthly Medians Preview:\n", monthly_medians.head()) 

# Save to CSV
monthly_medians.to_csv("/Users/sa3/Desktop/TLAB3/csv/weather_data.csv")

Monthly Medians Preview:
             temperature_2m  relative_humidity_2m  precipitation  \
time
2022-01-31           19.10                  92.0            0.1
2022-02-28           19.10                  92.0            0.0
2022-03-31           19.80                  84.0            0.0
2022-04-30           18.45                  83.0            0.0
2022-05-31           14.80                  79.0            0.0

            surface_pressure
time
2022-01-31             908.7
2022-02-28             909.2
2022-03-31             910.1
2022-04-30             911.4
2022-05-31             912.3

/var/folders/z4/2rstd0cd6mbfdq_6f5c_3m_r0000gn/T/ipykernel_23450/4074319018.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_medians = df.resample("M").median()

In [140]:
#Calculate Yearly Medians
yearly_medians = df.resample("Y").median()
print("Yearly Medians Preview:\n", yearly_medians.head()) 

# Save to CSV
yearly_medians.to_csv("/Users/sa3/Desktop/TLAB3/csv/yearly_medians.csv")

Yearly Medians Preview:
             temperature_2m  relative_humidity_2m  precipitation  \
time
2022-12-31          18.700                 78.50            0.0
2023-12-31          21.075                 76.75            0.0

            surface_pressure
time
2022-12-31           911.100
2023-12-31           913.075

/var/folders/z4/2rstd0cd6mbfdq_6f5c_3m_r0000gn/T/ipykernel_23450/3855191422.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_medians = df.resample("Y").median()

In [141]:
#Merge yearly weather data with harvest data, load harvest dataset and drop null values

harvest_df = pd.read_csv("/Users/sa3/Desktop/TLAB3/csv/yearly_medians.csv")
harvest_df.dropna(inplace=True)

In [142]:
# Convert time to datetime format
harvest_df["time"] = pd.to_datetime(harvest_df["time"])
harvest_df.set_index("time", inplace=True)

# Merge the two datasets
merged_df = pd.merge(harvest_df, yearly_medians, left_index=True, right_index=True)
print("Merged Data:\n", merged_df.head())

Merged Data:
             temperature_2m_x  relative_humidity_2m_x  precipitation_x  \
time
2022-12-31            18.700                   78.50              0.0
2023-12-31            21.075                   76.75              0.0

            surface_pressure_x  temperature_2m_y  relative_humidity_2m_y  \
time
2022-12-31             911.100            18.700                   78.50
2023-12-31             913.075            21.075                   76.75

            precipitation_y  surface_pressure_y
time
2022-12-31              0.0             911.100
2023-12-31              0.0             913.075

In [143]:
# Save to CSV
merged_df.to_csv("/Users/sa3/Desktop/TLAB3/csv/merged_data.csv")